---
import myAudio from "/audio/music-bg.wav";
---

<div class="player">
  <iframe
      width="100%"
      height="300"
      scrolling="no"
      frameborder="no"
      allow="autoplay; encrypted-media"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/soundcloud%253Atracks%253A2306706083&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
  </iframe>
  
  <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
      <a href="https://soundcloud.com/ironii" title="ironi" target="_blank" style="color: #cccccc; text-decoration: none;">ironi</a> · <a href="https://soundcloud.com/ironii/stutterpad" title="stutterpad" target="_blank" style="color: #cccccc; text-decoration: none;">stutterpad</a>
  </div>

  <iframe 
      width="100%"
      height="300"
      scrolling="no"
      frameborder="no"
      allow="autoplay; encrypted-media"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/soundcloud%253Atracks%253A2344312604&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
  </iframe>
  <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
      <a href="https://soundcloud.com/ironii" title="ironi" target="_blank" style="color: #cccccc; text-decoration: none;">ironi</a> · <a href="https://soundcloud.com/ironii/pont-au-deteste" title="Pont au Détesté" target="_blank" style="color: #cccccc; text-decoration: none;">Pont au Détesté</a>
  </div>

  <!-- 
  <audio controls autoplay loop preload="auto">
    <source src={myAudio} type="audio/wav" />
    Your browser does not support the audio element.
  </audio>
  -->
</div>

<style>
  .player {
    display: flex;
    gap: 1rem;
    height: clamp(5vh, 10vh, 20vh);
    padding: 1rem;
    padding-top: 10vh;
    /* border: 1px solid #ccc; */
    /* border-radius: 8px; */
  }
  .player iframe {
    flex: 1;
    width: 50%;
  }
</style>
