---

---

<div class="footer"></div>

<style>
  .footer {
    height: clamp(5vh, 10vh, 20vh);
    padding: 1rem;
    padding-bottom: 10vh;
    /* border: 1px solid #ccc; */
    /* border-radius: 8px; */
  }
</style>
